@media screen and (max-width: 600px) {
    .list {
        width: 100%;
        max-height: 0;
        overflow-x: hidden;
    }

    label {
        display: inline-flex;
        margin-top: 7px;
    }

    .nav-logo p {
        font-size: 10px;
        width: 600px;
    }

    .nav-logo img {
        width: 20px;
        height: 20px;
        margin-top: 7px;
    }

    .banner {
        flex-direction: column;
    }

    .banner-container h1 {
        font-size: 20px;

    }

    .banner-container p {
        font-size: 12px;
        margin: 0 5px;
    }

    .input-items {
        flex-direction: column;
        row-gap: 10px;
        margin: 50px 50px;

    }

    .main-1 {
        flex-direction: column;
        margin-top: -15px;
    }

    .populer-tours {
        width: 100%;
        height: min-content;
    }

    .populer-tours h1 {
        font-size: 20px;
    }

    .populer-tours p,
    li {
        font-size: 12px;
        width: 100%;
    }

    .read-btn {
        margin-top: 10px;
    }

    .tour-img {
        flex-direction: column;
        width: 100px;
        height: 342px;
    }



}